# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1.Python
    2.SQL
    3.R

Some of the commonly used libraries used by Data Scientists include:

    1.TensorFlow
    2.NumPy
    3.Pandas

|Data Science Tools|
|------------------|
|SAS|
|ggplot|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
# this will convert 200 minutes to hours by diving by 60

In [5]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**

    +List popular languages for Data Science
    +Evaluate expressions in Python
    +Stylize Markdown text

## Author
T'Keyah Marshall